<%-include("partials/header.ejs");-%>
<form action="/addProduct" method="post">    
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Product Name" name="pname">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Enter the product description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="about product" name="pdesc"></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Enter the product cost</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Product Cost in Indian Rupees" name="pcost">
    </div>
    <p>add images to be done</p>
    <!-- to create a todolist like table to add product details and show case it in tabular form with title and content 2 column table with variable rows -->
        <h3>To add the product details in Tabular form</h3>
        <div class="mb-3">
                <input type="text" class="form-control email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="title" name="title" > 
                <input type="text" class="form-control desc" id="exampleInputPassword1" placeholder="description">
                <br>
            <button class="form-control add" id="addBtn" type="submit" value="addProduct"><img src="/public/logos/plus-16.png" alt="add"> add another product detail</button>
        </div>
    <button type="submit" class="btn btn-primary" name="submit-action" formaction="/submitForm">Submit</button>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/app.js"></script>
<%-include("partials/footer.ejs");-%>