<%-include("partials/header.ejs");-%>
<form action="/signupCustomer" method="post">
    <div class="mb-3">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="fullname" placeholder="Full Name">
    </div>
    <div class="mb-3">
      <input type="number" class="form-control" id="exampleInputPassword1" name="mobileno" placeholder="Mobile Number">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="exampleInputPassword1" name="address" placeholder="Permanent Address">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<%-include("partials/footer.ejs");-%>