.container{
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.heading{
    text-align: center;
}

.submit_button{
    text-align: center;
    width: 100%;
}

.submit_button:hover{
    color: rgb(182, 182, 237);
    color: black;
}

body{
    margin: 0px;
}

.nav-links-list{
    list-style-type: none;
    display: inline;
}

li{
    display: inline;
}

.navbar{
    display: block;
    position: absolute;
    top: 1vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 8vh;
    padding-top: 1%;
    padding-bottom: 1%;
}

.nav-logo{
    position: relative;
    font-size: 25px;
    font-weight: 1000;
    left: 2.5%;
}

.links{
    position: relative;
    margin-left: 2%;
}

a:hover{
    color: rgb(36, 36, 36);
}

a{
    font-size: 17px;
    font-weight: 200;
    text-decoration: none;
    color: rgb(159, 158, 158);
    margin-left: 1%;
}

.cart-logo{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    left: 65%;
}

.avatar{
    position: relative;
    height: 3.2vh;
    border-radius: 23.5px;
    border-color: orange;
    border-style: solid;
    border-width: 3px;
    margin-right: 3%;
    float: right;
}

.header{
    display: block;
    position: absolute;
    top: 10vh;
    height: 50vh;
    padding: 0px;
    width: 100%;
    background-image:  linear-gradient(to right bottom,rgba(177, 177, 177, 0.5),rgba(0, 0, 0, 0.5)),url(./images/shop_bag.jpg);
    background-size: cover;
    background-position: bottom;
}

.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.heading-prim{
    color: white;
}

.heading-prim-main{
    display: block;
    font-size: 70px;
    letter-spacing: 15px;
    margin-bottom: 5px;
    animation: moveinleft 1s ease-out;
}

.heading-prim-sub{
    display: block;
    font-size: 20px;
    letter-spacing: 11px;
    animation: moveinright 1s ease-out;
}

footer{
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    color: rgb(155, 155, 155);
    background-color: rgb(30, 30, 30);
}

@keyframes moveinleft {
    0%{
        opacity: 0;
        transform: translateX(-10%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveinright {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.cart-area{
    position: absolute;
    display: none;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    top: 45%;
    left: 80%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 76vh;
    height: 75vh;
    border-radius: 10px;
    box-shadow: 0px 0px 200px 50px rgba(7, 7, 0, 1);
}

.page-active{
    color: rgb(36, 36, 36);
}

/* additional addition */
.add{
    width:20%;
    background-color: #0d6efd;
    color: white;
}

.add{
    background-color: rgb(92, 18, 92);
}

.email{
    display: inline-block;
    width: 30%;
}

.desc{
    display: inline-block;
    width: 30%;
}