*{
  margin: 0%;
  padding: 0rem;
}

/* landing page css(signup and login) */
.landingForm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 25%;
  height: 35%;
}

.heading{
  text-align: center;
}

.btn{
  width: 100%;
}

