*{
  margin: 0%;
  padding: 0rem;
}

/* landing page css(signup and login) */
.landingForm{
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%,-50%);
  max-width: 25%;
  max-height: 25%;
}

.heading{
  text-align: center;
}

.btn{
  width: 100%;
}

